extends ../layout/admin_layout

block right-content-wrapper-css
    +admin_category_css 
    
block admin-js

block right-content-wrapper
    div(class="admin-category") 
        p werewrwe

        


    


