extends ./layout/layout

block css 
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500&display=swap" rel="stylesheet">
    <link href="/css/404.css" rel="stylesheet">

block body 
    div(class="full-screen-container")
        div(class="content-container")
            p 404 Not Found!
            p 404 你还真厉害能到这里，墙都不扶就扶你！
            p 404お探しのページが見つかりませんでした！
            p 404 introuvable!
