mixin font_css 
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500&display=swap" rel="stylesheet">

mixin admin_login_css
    <link href="/css/admin_login.css" rel="stylesheet">

mixin admin_page_css
    <link href="/css/admin_page.css" rel="stylesheet">

mixin admin_category_css 
    <link href="/css/admin_category.css" rel="stylesheet">

