mixin paypal-sdk 
    <script src="https://www.paypal.com/sdk/js?client-id=AUav-zljVJ6hF0jHupfC5wOXm1E1lxib7WVbdLr4hT1stL3Pzq_5_sTmAn5RDbEqelpkdcIXFmKQwhfI"></script>

mixin paypal-button-script 
    <script defer src="/js/paypal/paypal.js"></script>
